<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="js/angular.min.js"></script>

    <script src="js/app.js"></script>
</head>
<body ng-app="BindingApp">
<h1>Filters</h1>
    <div ng-controller="BindingCtrl">
        <h1>The Digest Cycle</h1>
        <div>
            <button ng-click="showNumberOfWatchers()">Log of Watchers</button>
        </div>
        <br>
        <div>
            <button ng-click="setFullName()">Set Full Name</button>
        </div>
        <br>
        <div>
            <!-- this will not create a watcher until something happens-->
            <p>Full Name is: {{:: fullName}}</p>
        </div>
        <br>
        <div>
            <button ng-click="logFirstName()">Log First Name</button>
        </div>
        <br>
        <div>
            <button ng-click="logFullName()">Log Full Name</button>
        </div>
        <br>
        <input type="text" ng-model="firstName">
    </div>

</body>
</html>