<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
    <meta charset="UTF-8">
    <!-- design responsive to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Module2-Code Assignment</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link href="css/style.css" rel="stylesheet" />
</head>
<body ng-controller="ToBuyController as BuyList">

<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <h3 class="text-center">Shopping List Application</h3>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <form class="form-group text-center">
                            <label class="col-sm-12 col-md-12 col-lg-12 control-label title" for="BuyItemName" >Add item name</label>
                            <div class="col-sm-12 col-md-12 col-lg-12" >
                                <input class="form-control" id="BuyItemName" type="text" ng-model="BuyList.itemName">
                            </div>
                            <label class="col-sm-12 col-md-12 col-lg-12 control-label title" for="BuyItemQuantity">Add item quantity</label>
                            <div class="col-sm-12 col-md-12 col-lg-12" >
                                <input class="form-control" id="BuyItemQuantity" type="text" ng-model="BuyList.itemQuantity">
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 center">
                                <button type="button" class="btn btn-success " ng-click="BuyList.addItem();">Add Item To Shopping List</button>
                            </div>
                            <br>
                        </form>
                    </div>
                    <hr>
                    <!-- Lists section -->
                    <div class="row">
                        <!-- To Buy List -->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h3 class="text-center title">To Buy</h3>
                            <div class="text-center">
                                <li ng-repeat="item in BuyList.toBuyList">
                                       <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center" id="item">
                                            Buy {{item.quantity}} {{item.name}}
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <button type="button" class="btn btn-primary .btn-xs"  ng-click="BuyList.removeItem($index);">Bought</button>
                                       </div>
                                </li>

                            </div>
                            <!-- Show message if "To Buy" list is empty-->
                            <div ng-if="!BuyList.toBuyList.length" class="error">
                                <p class="text-center" style="color: green;">Everything is bought!</p>
                            </div>
                        </div>
                        <!-- Already Bought List -->
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"  ng-controller="AlreadyBoughtController as BoughtList">
                            <h3 class="text-center title">Already Bought</h3>
                            <ol class="text-center">
                                <li ng-repeat="item in BoughtList.boughtList">
                                    Bought {{item.quantity}} {{item.name}}
                                </li>
                            </ol>
                            <!-- Show message if "Already Bought" list is empty-->
                            <div ng-if="!BoughtList.boughtList.length" class="error">
                                <p class="text-center" style="color: red;">Nothing bought yet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>