
body{
    background-color: white;
}

.jumbotron {
    border: 1px dashed deeppink;
}

#guideline {

    font-size: 10px;

}

div{
    line-height: 50px;
}

#center{
    margin: 0 auto;
    padding: 10px;
}